<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Univ:</strong>
  <%= @student.univ %>
</p>

<p>
  <strong>Image:</strong>
  <%= @student.image %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @student.assignment %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @student.lecture %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
